<div class="navbar-mobile subNavbar-mobile">
    <div class="coverNav" (click)="toggleSidenav()">
        <button class="close-nav" (click)="closeSidenav()">
            <img src="../../../../assets/images/close-nav.svg" alt="close">
        </button>
    </div>
    <div class="align-items-center justify-content-between flex-head">
        <a><img src="../../../../assets/images/logo-subPage.svg" class="logo-image" /></a>
        <div class="hamburger" id="hamburger" (click)="toggleSidenav()">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
        </div>
    </div>
    <div class="nav-mobile">
        <div class="links">
            <img src="../../../../assets/images/logo.svg" class="logo" />
            <div class="fx-links">
                <a [routerLink]="'../index'" routerLinkActive="active" class="style-font active ahref1">Home</a>
                <div class="border ahref1"></div>
                <a class="style-font ahref2" [routerLink]="['/']" fragment="aboutSection"
                    [ngClass]="{ 'active': isActive }" (click)="setActiveSection('aboutSection')">About us</a>

                <div class="border ahref2"></div>
                <a [routerLink]="'../programPage'" class="style-font ahref3">B2B & B2G program</a>
                <div class="border ahref3"></div>
                <a class="style-font ahref4">Company establishment program</a>
                <div class="border"></div>
                <a [routerLink]="'../freeConsultation'" class="style-font ahref5">Free consultation</a>
                <div class="border"></div>
                <button class="btn-move" [routerLink]="['/']" fragment="Contact" [ngClass]="{ 'active': isActive }"
                    (click)="setActiveSection('Contact')">
                    <span class="font-medium">Get A Demo</span>
                </button>
            </div>
        </div>
    </div>
</div>
<header id="header" class="sub-header">
    <div class="d-flex align-items-center fx-header">
        <div class="logo-header" [routerLink]="'../index'" routerLinkActive="active">
            <img src="../../../../assets/images/logo-subPage.svg" alt="Kafads">
        </div>
        <div class="align-items-center links-part links-part1">
            <a [routerLink]="'../index'" routerLinkActive="active" class="font-medium  headerText1">Home</a>
            <a class="font-medium headerText2" [routerLink]="'../index'" fragment="aboutSection"
                [ngClass]="{ 'active': isActive }" (click)="setActiveSection('aboutSection')">
                About us
            </a>
            <a [routerLink]="'../programPage'" routerLinkActive="active" class="font-medium headerText3">
                B2B & B2G program
            </a>
            <a class="font-medium headerText4">company establishment program</a>
            <a [routerLink]="'../freeConsultation'" routerLinkActive="active" class="font-medium headerText5">Free
                consultation</a>
            <button class="btn-move " [routerLink]="'../index'" fragment="Contact" [ngClass]="{ 'active': isActive }"
                (click)="setActiveSection('Contact')">
                <span class="font-medium">Get A Demo</span>
            </button>
            <div class="hamburger" id="hamburger" onclick="toggleSidenav();">
                <div class="div1"></div>
                <div class="div2"></div>
                <div class="div3"></div>
            </div>
        </div>

    </div>
</header>