<app-header2></app-header2>
<main class="sub-main">
    <section class="details-B2G" id="main">
        <div class="details-B2G-container">
            <h2 class="subtitle-three32px font-bold" data-aos="zoom-in" data-aos-duration="1000">B2B & B2G program</h2>
            <img src="../../../../assets/images/B2B & B2G program.png" alt="B2B & B2G program">
            <p class="style-font" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">The special
                KAFADS B2B & B2G Program is designed for both local and international
                startups looking to
                maximize their
                potential by providing them with a set of A-Z Entrepreneurship training, coaching, and mentoring. In
                this program, you
                will have the ability to reach more clients as we focus on results rather than just information.
                This
                program is special
                for the network of entrepreneurs, subject-matter experts, investors, and potential clients in Saudi
                and
                the GCC. <br> <br>
                The special KAFADS B2B & B2G Program is designed for both local and international
                startups looking to
                maximize their
                potential by providing them with a set of A-Z Entrepreneurship training, coaching, and mentoring. In
                this program, you
                will have the ability to reach more clients as we focus on results rather than just information.
                This
                program is special
                for the network of entrepreneurs, subject-matter experts, investors, and potential clients in Saudi
                and
                the GCC.</p>
        </div>
    </section>
    <div class="border-line"></div>
    <section class="WhatYouGet">
        <div class="WhatYouGet-container">
            <div class="d-flex fx-WhatYouGet fx-general-cards">
                <div class="box-WhatYouGet fx-general-card-st">
                    <h2 class="font-semiBold" data-aos="zoom-in" data-aos-duration="1000">Go-to-market</h2>
                    <img src="../../../../assets/images/line-dash.svg" alt="">
                    <div class="d-flex fx-box-WhatYouGet fx-general-cards">
                        <h4 class="style-font fx-general-card-st">Product Market Fit</h4>
                        <h4 class="style-font fx-general-card-st">User-Centric Design</h4>
                        <h4 class="style-font fx-general-card-st">Accounting & Taxes</h4>
                        <h4 class="style-font fx-general-card-st">Value Proposition</h4>
                        <h4 class="style-font fx-general-card-st">UX/UI</h4>
                        <h4 class="style-font fx-general-card-st">Pricing Strategy</h4>
                        <h4 class="style-font fx-general-card-st">Branding & Creativity</h4>
                        <h4 class="style-font fx-general-card-st">Legal</h4>
                        <h4 class="style-font fx-general-card-st">Mentor Introductions</h4>
                        <h4 class="style-font fx-general-card-st">Network Introductions</h4>
                        <h4 class="style-font fx-general-card-st">Logistics</h4>
                        <h4 class="style-font fx-general-card-st">HR</h4>
                        <h4 class="style-font fx-general-card-st">1:1 Coaching Sessions</h4>
                    </div>
                </div>
                <div class="box-WhatYouGet fx-general-card-st">
                    <h2 class="font-semiBold" data-aos="zoom-in" data-aos-duration="1000">Automating Sales</h2>
                    <img src="../../../../assets/images/line-dash.svg" alt="">
                    <div class="d-flex fx-box-WhatYouGet fx-general-cards">
                        <h4 class="style-font fx-general-card-st">Preparing sales data room/promo materials </h4>
                        <h4 class="style-font fx-general-card-st">Sales tools & intros to potential partners/clients
                        </h4>
                        <h4 class="style-font fx-general-card-st">B2B Marketing and working with sales leads</h4>
                        <h4 class="style-font fx-general-card-st">Commercial and legal documents and services</h4>
                        <h4 class="style-font fx-general-card-st">Negotiations training</h4>
                        <h4 class="style-font fx-general-card-st">Review of cultural aspects of Sales</h4>
                        <h4 class="style-font fx-general-card-st">Preparing sales presentation</h4>
                        <h4 class="style-font fx-general-card-st">1:1 Mentor Sessions</h4>
                    </div>
                </div>
                <div class="box-WhatYouGet fx-general-card-st">
                    <h2 class="font-semiBold" data-aos="zoom-in" data-aos-duration="1000">Reach-Out Planning</h2>
                    <img src="../../../../assets/images/line-dash.svg" alt="">
                    <div class="d-flex fx-box-WhatYouGet fx-general-cards">
                        <h4 class="style-font fx-general-card-st">Mapping out partnerships </h4>
                        <h4 class="style-font fx-general-card-st">Value assessment </h4>
                        <h4 class="style-font fx-general-card-st">Tailor business model</h4>
                        <h4 class="style-font fx-general-card-st">Build and training sales team </h4>
                        <h4 class="style-font fx-general-card-st">1:1 Mentor Sessions</h4>
                        <h4 class="style-font fx-general-card-st">Customer value analysis</h4>
                        <h4 class="style-font fx-general-card-st">Analysis of market and potential target segments
                        </h4>
                    </div>
                </div>
                <div class="box-WhatYouGet fx-general-card-st">
                    <h2 class="font-semiBold" data-aos="zoom-in" data-aos-duration="1000">Pitch and Presentation</h2>
                    <img src="../../../../assets/images/line-dash.svg" alt="">
                    <div class="d-flex fx-box-WhatYouGet fx-general-cards">
                        <h4 class="style-font fx-general-card-st">Communications </h4>
                        <h4 class="style-font fx-general-card-st">Pitch Psychology</h4>
                        <h4 class="style-font fx-general-card-st">Pitch Deck Creation</h4>
                        <h4 class="style-font fx-general-card-st">Elevator Pitches</h4>
                        <h4 class="style-font fx-general-card-st">One Lines</h4>
                        <h4 class="style-font fx-general-card-st">Pitch Practice & Critique</h4>
                        <h4 class="style-font fx-general-card-st">Demo Day Rehearsal</h4>
                        <h4 class="style-font fx-general-card-st">Mentor Conclusions</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="border-line"></div>
    <section class="program-network">
        <div class="program-network-container">
            <h2 class="font-bold" data-aos="zoom-in" data-aos-duration="1000">Program Network of <span
                    class="color-purple">trainers</span> and <span class="color-purple">consultants</span></h2>
            <div class="d-flex fx-program-network fx-general-cards">
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <img src="../../../../assets/images/person1.png" alt="Hussain Attar">
                    <h4 class="style-font">Hussain Attar</h4>
                    <p class="style-font mb-0">CEO at Tech Invest Com</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <img src="../../../../assets/images/person2.png" alt="Ali Ramadhan">
                    <h4 class="style-font">Ali Ramadhan</h4>
                    <p class="style-font mb-0">Tech Expert</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2000">
                    <img src="../../../../assets/images/person3.png" alt="Hussain Attar">
                    <h4 class="style-font">Khalid AlGhamdi</h4>
                    <p class="style-font mb-0">Investment and Negotiation
                        Consultant</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2500">
                    <img src="../../../../assets/images/person4.png" alt="Athbi AlEnezi">
                    <h4 class="style-font">Athbi AlEnezi</h4>
                    <p class="style-font mb-0">Co-Founder & CEO at justclean</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <img src="../../../../assets/images/person5.png" alt="Moustafa Khater">
                    <h4 class="style-font">Moustafa Khater</h4>
                    <p class="style-font mb-0">Growth Hacker</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <img src="../../../../assets/images/person6.png" alt="Hussain AlZayer">
                    <h4 class="style-font">Hussain AlZayer</h4>
                    <p class="style-font mb-0">HR Expert</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2000">
                    <img src="../../../../assets/images/person7.png" alt="Hussain AlMarhoon">
                    <h4 class="style-font">Hussain AlMarhoon</h4>
                    <p class="style-font mb-0">Founding Managing Partner at Hala
                        Ventures</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2500">
                    <img src="../../../../assets/images/person8.png" alt="Khalid AlMahfouz">
                    <h4 class="style-font">Khalid AlMahfouz</h4>
                    <p class="style-font mb-0">Director Of Franchise Development -
                        Monshaat</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <img src="../../../../assets/images/person9.png" alt="Saleh Abbas">
                    <h4 class="style-font">Saleh Abbas</h4>
                    <p class="style-font mb-0">CEO at Tech Invest Com</p>
                </div>
                <div class="box-program-network fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <img src="../../../../assets/images/person10.png" alt="Mohammad Alkhater">
                    <h4 class="style-font">Mohammad Alkhater</h4>
                    <p class="style-font mb-0">Co-Founder at Eradapp ,VAT <br>
                        Consultant</p>
                </div>

            </div>
        </div>
    </section>
</main>
<section class="section-eight section-eight2">
    <div class="section-eight-container">
        <h1 class="font-bold subtitle-three32px text-center"><span class="color-purple">Intrested</span>? Let’s
            Chat!
        </h1>
        <p class="style-font">Please provide your email address by submitting it, and we will make sure to contact
            you as soon as
            possible.</p>
        <!-- <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="d-flex fx-submit">
                <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="formData.email"
                    required>
                <button type="submit" class="btn-move font-medium" [disabled]="!contactForm.form.valid">Submit</button>
            </div>
        </form> -->
        <p class="style-font">Or Email us on the follwing email, and we will contact you back soon... <span
                class="font-SemiBoldItalic">info&#64;kafads.com</span></p>
    </div>
</section>