<app-header1></app-header1>
<main>
    <section class="section-one">
        <div class="section-one-container">
            <h1 class="font-bold" data-aos="zoom-in" data-aos-duration="1000">Expand to Saudi
                with <span class="color-pink">100% ownership</span> and hassle
                free with KAFADS</h1>
            <p class="style-font" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">You will be
                able to reach so wide, so quickly, and achieve the targets for your
                business</p>
            <button class="btn-move font-medium" data-aos-duration="500">Lets Get Started!</button>
        </div>
    </section>

    <section class="section-two">
        <div class="section-two-container">
            <div class="slider-logos">
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo1.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo2.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo3.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo4.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo5.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo6.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo7.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo3.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo4.png" alt="logo">
                </div>
                <div class="slide-logo">
                    <img src="../../../../assets/images/logo5.png" alt="logo">
                </div>
            </div>
        </div>
    </section>
    <section class="section-three " id="aboutSection">
        <div class="section-three-container px-80">
            <img src="../../../../assets/images/circle-purple.svg" alt="circle-purple" class="circle-purple">
            <span class="font-medium span-head">Who Are We</span>
            <h1 class="font-bold subtitle-one40px" data-aos="zoom-in" data-aos-duration="1000">About<span
                    class="color-purple"> Kafads</span></h1>
            <p class="style-font subtitle-two18px" data-aos="fade-down" data-aos-easing="linear"
                data-aos-duration="1000">
                <span class="font-SemiBoldItalic ">“We help international companies who are not looking to expand
                    at
                    the moment to find partners and clients via our B2B
                    programs.“</span>
                We at KAFADS Consultancy help companies establish themselves in Saudi Arabia quickly and efficiently
                in
                a reasonable
                price and transparent work as well as helping companies on B2B & B2G marketing, advertising, and PR
                in
                Saudi Arabia. We
                are a team of Saudi and international professionals coming together to provide a new perspective to
                the
                modern way of
                marketing and establishing a company without a hustle.
                Our expertise ranges from legal, academia, entrepreneurship with a combined experience of 40+ years.
                We
                aim at providing
                a more comprehensive view to investors entering the market and helping them in marketing,
                advertising,
                HR, Legal and PR.
            </p>
        </div>
    </section>
    <section class="section-four">
        <div class="section-four-container px-80">
            <div class="d-flex fx-section-four">
                <div class="section-four-texts">
                    <h1 class="font-bold subtitle-three32px" data-aos="zoom-in" data-aos-duration="1000"> establishment
                        <span class="color-purple">
                            establishment </span>program
                    </h1>
                    <p class="style-font subtitle-two18px" data-aos="fade-down" data-aos-easing="linear"
                        data-aos-duration="1000">
                        This program provides the companies a wide door into the
                        targeted
                        market with many possibilities and opportunities.
                        We help you get your MISA license, CR, Iqama (Saudi Residency), Work Permit, Visas,
                        Medical
                        Insurance, Bank Account,
                        Writing POA, Writing AOA (MOA), Editing AOA when needed, register at Chamber of
                        Commerce,
                        Register at Qiwa, Mudad,
                        Etimad, Saudi Business Center, Muqeem, Balady (Municipality), Modon (if needed), Office
                        Space,
                        Hiring the right talent,
                        and other entities needed for SAR 60,000 only!
                        During our Establishment Programs, we help our clients to understand the culture,
                        dynamics, and
                        possibilities of selling
                        and increasing their chances of closing the deals.
                    </p>
                    <a class="font-medium" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Learn
                        More</a>
                </div>
                <div class="section-four-imgs">
                    <img src="../../../../assets/images/about1.png" alt="image about" class="img-about1">
                    <img src="../../../../assets/images/about2.png" alt="image about" class="img-about2">
                </div>
            </div>
            <div class="section-three-container px-80">
                <div class="d-flex fx-section-four">
                    <div class="section-four-imgs">
                        <img src="../../../../assets/images/about3.png" alt="image about" class="img-about1">
                        <img src="../../../../assets/images/about4.png" alt="image about" class="img-about2">
                    </div>
                    <div class="section-four-texts">
                        <h1 class="font-bold subtitle-three32px" data-aos="zoom-in" data-aos-duration="1000"><span
                                class="color-purple">
                                B2B & B2G </span>program</h1>
                        <p class="style-font subtitle-two18px" data-aos="fade-down" data-aos-easing="linear"
                            data-aos-duration="1000">The special KAFADS B2B & B2G Program is designed for
                            both local and international startups looking to maximize their
                            potential by providing them with a set of A-Z Entrepreneurship training, coaching, and
                            mentoring. In this program, you
                            will have the ability to reach more clients as we focus on results rather than just
                            information. This program is special
                            for the network of entrepreneurs, subject-matter experts, investors, and potential
                            clients in Saudi and the GCC.</p>
                        <a class="font-medium" data-aos="fade-down" data-aos-easing="linear"
                            data-aos-duration="1500">Learn More</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section-five">
        <div class="section-five-container px-80">
            <h1 class="font-bold subtitle-one40px text-center"><span class="color-purple">One stop </span>shop for
            </h1>
            <div class="d-flex align-items-center fx-section-five fx-general-cards">
                <div class="fx-image fx-image50 fx-general-card-st" data-aos="zoom-out" data-aos-duration="1000">
                    <img src="../../../../assets/images/img6.svg" alt="logo">
                </div>
                <div class="fx-image fx-image50 fx-general-card-st">
                    <img src="../../../../assets/images/img7.svg" alt="logo" data-aos="zoom-out-up"
                        data-aos-duration="1500">
                </div>
                <div class="fx-image fx-image50 image-show fx-general-card-st" data-aos="zoom-out"
                    data-aos-duration="1500">
                    <img src="../../../../assets/images/img8.svg" alt="logo">
                </div>
            </div>
            <div class="d-flex align-items-center fx-section-five fx-general-cards mt-4">
                <div class="fx-image fx-image50 image-hide fx-general-card-st" data-aos="zoom-out-up"
                    data-aos-duration="1500">
                    <img src="../../../../assets/images/img8.svg" alt="logo">
                </div>
                <div class="fx-image fx-image25 fx-general-card-st" data-aos="zoom-out" data-aos-duration="1500">
                    <img src="../../../../assets/images/img5.svg" alt="logo">
                </div>
                <div class="fx-image fx-image25 fx-general-card-st" data-aos="zoom-out-up" data-aos-duration="1500">
                    <img src="../../../../assets/images/img4.svg" alt="logo">
                </div>
                <div class="fx-image fx-image25 fx-general-card-st" data-aos="zoom-out" data-aos-duration="1500">
                    <img src="../../../../assets/images/img3.svg" alt="logo">
                </div>
                <div class="fx-image fx-image25 fx-general-card-st" data-aos="zoom-out-up" data-aos-duration="1500">
                    <img src="../../../../assets/images/img2.svg" alt="logo">
                </div>
                <div class="fx-image fx-image25 fx-general-card-st" data-aos="zoom-out" data-aos-duration="1500">
                    <img src="../../../../assets/images/img1.svg" alt="logo">
                </div>
            </div>
        </div>
    </section>
    <section class="section-six">
        <div class="section-six-container px-80">
            <span class="font-medium span-head" data-aos="zoom-in" data-aos-duration="1000">Business Licenses</span>
            <h1 class="font-bold subtitle-one40px">Diffrent types of Business Licenses</h1>
            <div class="d-flex fx-section-six fx-general-cards">
                <div class="box-business fx-general-card-st active" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/Trading.svg" alt="Trading /Commercial license">
                    </div>
                    <p class="font-medium">Trading / Commercial license</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/RealEstate.svg" alt="Real Estate License">
                    </div>
                    <p class="font-medium">Real Estate License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2000">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/ServiceLicense.svg" alt="Service License">
                    </div>
                    <p class="font-medium">Service License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/IndustrialLicense.svg" alt="Industrial License">
                    </div>
                    <p class="font-medium">Industrial License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/TransportLicense.svg" alt="Transport License">
                    </div>
                    <p class="font-medium">Transport License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/ConsultingLicense.svg" alt="Consulting License">
                    </div>
                    <p class="font-medium">Consulting License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2000">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/EnterperneurLicense.svg" alt="Enterperneur License">
                    </div>
                    <p class="font-medium">Enterperneur License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/AgricilturalLicense.svg" alt="Agriciltural License">
                    </div>
                    <p class="font-medium">Agriciltural License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/AudiocisualMediaLicense.svg"
                            alt="Audiocisual Media License">
                    </div>
                    <p class="font-medium">Audiocisual Media License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/MiningLicense.svg" alt="Mining License">
                    </div>
                    <p class="font-medium">Mining License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2000">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/RegionalHeadquartersLicense.svg"
                            alt="Regional Headquarters License">
                    </div>
                    <p class="font-medium">Regional Headquarters License</p>
                </div>
                <div class="box-business fx-general-card-st" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="2500">
                    <div class="img-box-business">
                        <img src="../../../../assets/images/PrintingPublishingLicense.svg"
                            alt="Printing & Publishing License">
                    </div>
                    <p class="font-medium">Printing & Publishing License</p>
                </div>

            </div>
        </div>
    </section>
    <section class="section-seven">
        <div class="section-seven-container ">
            <span class="font-medium span-head px-80">Testimonials</span>
            <h1 class="font-bold subtitle-one40px px-80" data-aos="zoom-in" data-aos-duration="1500">Experts & Clients
                Testimonials</h1>
            <div class="box-slider-clients">
                <div class="slider-clients px-80">
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">It's an excellent B2B programme. It gives a lot to those who
                                are
                                ready
                                to learn, to
                                change
                                themselves, to listen to the
                                market and its experts. KAFADS played the most important...</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Anastasiia Vasilkova</h2>
                                <span class="style-font mb-0">Choupette</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">Great B2B Program!</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">MIKHAIL IGOSHIN</h2>
                                <span class="style-font mb-0">Intheme Lab</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">We would like to thank KAFADS for making this accelerator happen!
                                We appreciate a lot of opportunities that are now
                                opened to us in the MENA region thanks to professionals we worked with and their
                                attention to our goals! The B2B Program
                                boosted our business to expand in this new market and the most important - to make good
                                connections with potential
                                partners.
                                It was a privilege to have our experts as the best guides to local business and culture.
                                Special thanks to Mohammed, who
                                was there for us and helped in a very professional manner, and Akram, the most
                                structured and motivating mentor in the
                                world
                            </p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Naira</h2>
                                <span class="style-font mb-0">Zephyrlab</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">It was a great program! Thanks to the KAFADS team for being with
                                us all this time and
                                helping to improve the business.
                                Excellent experts, support, and a lot of meaningful information. If there is a next
                                level of the B2B program
                                after some time, we would be happy to participate in it. Thanks for your support!
                            </p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Polina Golovanova</h2>
                                <span class="style-font mb-0">Epitum3D</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">KAFADS team was the main driving force behind the accelerator and
                                the team performed very well.</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Roman</h2>
                                <span class="style-font mb-0">Get Energy</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">KAFADS MENA Program was a major boost in our move to the MENA
                                region. It changed things dramatically, from "that'd be
                                good" to "we do this, this and this" and "we have clients".
                                It's like going from an idea to business. Absolutely worth it. Recommend.
                            </p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Gleb Skrypin NVI Solutions</h2>
                                <span class="style-font mb-0">NVI Solutions</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">I was happy to join the MENA B2B program and found it much more
                                active and extensive than expected. This program is not
                                just opening doors to new region, but can really help you to rework complete business
                                model, as mentors are giving
                                valuable advices on different business related questions</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Stas Shumilov</h2>
                                <span class="style-font mb-0">Evo Controls</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">I recommend the B2B program to anyone who is thinking or has
                                already started exporting their products. Due to the Garpix
                                logistics large number of meetings with potential customers, you will be able to quickly
                                understand the market and
                                understand the demand for your products.</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Kirill Bagylly</h2>
                                <span class="style-font mb-0">Garpix logistics</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">It was the best B2B Program I have ever participated in. For sure
                                there are some particular minor points you can enhance
                                - especially avoiding summer time to arrange meetings. But in general everything was
                                awesome, thank you!</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Anton Melnikov</h2>
                                <span class="style-font mb-0">Health Culture</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">You have done a great job and have shown a high level of
                                professionalism all along the process. Keep it up! Wishing of
                                Technology you all the success in all the coming programs</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Dr. Anji Benhamed</h2>
                                <span class="style-font mb-0">Higher Colleges</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">The KAFADS MENA B2B Program included quality companies on a
                                technical basis and a framework that enables them to get
                                ready to go to the global market commercially. The KAFADS team was effective,
                                supportive, and engaged throughout the
                                program.
                                It has been a great experience being part of this B2B program. The companies were of
                                high quality and receptive to
                                feedback. I feel (and hope) I was able to add value to each of the companies I
                                supported. I appreciate the opportunity
                                to have participated and add value and look forward to opportunities to participate in
                                KAFADS programs in the future.
                            </p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Guy Lewis</h2>
                                <span class="style-font mb-0">Arrow Precision</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-clients">
                        <div class="card-clients d-flex flex-column">
                            <h4 class="DMSans-bold mb-0">Expert Testimonial</h4>
                            <p class="style-font mb-0">Working as a consultant with KAFDAS through the MENA B2B Program
                                has been truly inspiring. Their focused support,
                                insightful guidance, and commitment to fostering growth have provided me with an
                                invaluable experience. KAFDAS's
                                dedication to consultants' success is evident in every interaction, and I am grateful
                                for the opportunity to contribute
                                to the growth of businesses in the MENA region.</p>
                            <img src="../../../../assets/images/line-dash.svg" alt="line dash">
                            <div class="card-clients-part">
                                <h2 class="DMSans-bold">Hussain Al Rahain</h2>
                                <span class="style-font mb-0">H Systems SA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dots-slider-clients">
                    <img src="../../../../assets/images/arrow-left.svg" alt="arrow-left" class="arrow-left-clients">
                    <img src="../../../../assets/images/arrow-right.svg" alt="arrow-right" class="arrow-right-clients">
                </div>
            </div>
        </div>
    </section>
</main>
<app-form-home-page></app-form-home-page>